In [ ]:
#sum of the series : 1+x+x2+x3+x4+x5+…........xn

x=int(input("Enter the value for x"))
n=int(input("enter the value for n"))
sum=0
for i in range(n+1):
  sum+=x**i
print(sum)

Enter the value for x2
enter the value for n5
63

In [ ]:
#sum of the series : 1-x+x2-x3+x4-x5+x6+........xn
x=int(input("Enter the value for x"))
n=int(input("enter the value for n"))
sum=0
for i in range(n+1):
  y=x**i
  if i%2==0:
    sum+=y
  else:
    sum-=y
print(sum)

Enter the value for x2
enter the value for n5
-21

In [ ]:
#sum of the series :  x-(x2/2)+(x3/3)-(x4/4)+(x5/5)-(x6/6)....(xn/n)
x=int(input("Enter the value for x:"))
n=int(input("enter the value for n:"))
sum=x
for i in range(2,n+1):
  y=(x**i)/i
  if i%2==0:
    sum-=y
  else:
    sum+=y
print(sum)

Enter the value for x:2
enter the value for n:5
5.066666666666666

In [ ]:
#sum of the series : x+(x2/2!)-(x3/3!)+(x4/4!)-(x5/5!)+(x6/6!).....(xn/n!)
x=int(input("Enter the value for x:"))
n=int(input("enter the value for n:"))
sum=x
def factorial(j):
  f=1
  for i in range(1,j+1):
    f=f*i
  return f
for i in range(2,n+1):
  fact=factorial(i)
  y=(x**i)/fact
  if i%2==0:
    sum+=y
  else:
    sum-=y
print(sum)

Enter the value for x:2
enter the value for n:5
3.066666666666667